* { box-sizing: border-box;}
/* Gerais */
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Century Gothic', sans-serif;
    font-size: 1em;
}

body { 
    background-image: url('../img/66177621_p0.png');
    background-repeat: no-repeat;
    background-size: cover;
}

div#open {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

div#open button#open-api {
    padding: 15px;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
    font-size: 1.2em;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

div#open button#open-api:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid currentColor;
    font-weight: bold;
}